mixin Counter(namespace, value, min, max, step, afterDot, separator)
	yam-counter(
		namespace= namespace
		value= value
		min= min
		max= max
		step= step
		afterDot= afterDot
		separator= separator
		yam-component='namespace,value,min,max,step,afterDot,separator'
	)
